{% extends "base.html" %}

{% block content %}
    <!-- messaging container with user conversation -->
    <div class="row justify-content-start">
        <h3 class="box">Chat with <a href="/users/{{partner.id}}">{{partner.name}}</a></h3>
    </div>
    <div class="container">
        <!-- loop for messages -->
        {% for msg in messages %}
            {% if msg.sender == partner.id %}
            <div class="row mt-1 justify-content-start">
                <!-- justify-content-start / justify-content-end == set in row -->
                <div class="col-5 bg-secondary text-white rounded">
                    {{msg.message}}
                </div>
            </div>
            {% elif msg.sender == user.id %}
            <div class="row mt-1 justify-content-end">
                <!-- justify-content-start / justify-content-end == set in row -->
                <div class="col-5 border bg-dark text-white rounded">
                    {{msg.message}}
                </div>
            </div>
            {% else %}
            <div class="row mt-1 justify-content-center">
                <!-- justify-content-start / justify-content-end == set in row -->
                <div class="col-6 bg-danger text-white rounded">
                    Error with Message. Please contact Admin.
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>

    <!-- form for new message -->
    <form action="#" method="post">
        <div class="form-group row mt-1">
            <label class="col col-sm-2 col-form-label mt-1">Message:</label>
            <div class="col-sm-8 mt-1">
                <input type="text" class="form-control" name="message"">
            </div>
            <div class="col-sm-1 mt-1">
                <button type="Submit" class="btn btn-primary">Send</button>
            </div>
        </div>

    </form>
{% endblock %}